################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SudokuProject/bin/Debug
/SudokuProject/obj/Debug
/.vs/SudokuProject
