################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SudokuProject/bin/Debug
/SudokuProject/obj/Debug
/.vs/SudokuProject
/SudokuProject/App.config
/SudokuTests/packages.config
/SudokuTests/obj/Debug
/SudokuTests/bin/Debug/Microsoft.TestPlatform.AdapterUtilities.dll
/SudokuTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/SudokuTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/SudokuTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/SudokuTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/SudokuTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/SudokuTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/SudokuTests/bin/Debug/SudokuProject.exe
/SudokuTests/bin/Debug/SudokuProject.exe.config
/SudokuTests/bin/Debug/SudokuProject.pdb
/SudokuTests/bin/Debug/SudokuTests.dll
/SudokuTests/bin/Debug/SudokuTests.pdb
/packages
/SudokuTests/bin/Debug
/SudokuProject/Properties
/SudokuTests/Properties
